.logo-container {
  display: flex;
  justify-content: center;
  margin: 5rem 4rem 2rem 4rem;
}
.logo-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  background: #108ee9;
  border: 1px solid #108ee9;
}
